.principal {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
}
.Bloque {
    text-align: center;
    background-color: aqua;
    width: 30%;
    height: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.principal :is(.B1,.B2,.B3){
    margin-top: 50px;
}
.B1:hover{
    margin-top: 0;
}
.B2:hover{
    margin-top: 0;
}
.B3:hover{
    margin-top: 0;
}
